body {
    padding-top: 60px;
}
.sidebar-nav {
    padding: 9px 0;
}

@media (max-width: 980px) {
    /* Enable use of floated navbar text */
    .navbar-text.pull-right {
      float: none;
      padding-left: 5px;
      padding-right: 5px;
    }
}

@media (max-width: 767px) {
    /* The floating-to-the-side table of contents is cool, but, not if we're
     * low on screen space! */
    #sidetoc.affix {
        position: static;
        width: auto;
        top: 0;
  }
}

/* Devoops's #content tries to extend "infinitely" below itself */
.pad > #content {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

/* Devoops does not have CSS for a footer. So, let's add support for one. */
.footer {
    margin-top: 5px;
    background-color: #f8f8f8;
    border-top-color: #525252;
    box-shadow: 0px -1px 2px 0px #272727;
    box-sizing: border-box;
    line-height: 20px;
}
